.hr{
    border-top: 1px solid dark-grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading{
    color:$dark-blue;
    font-size: 1.5em;
}

.img-fluid{
        padding-top: 5%;
        width: 100%;
        height: auto;
}

.center{
    align-items:center;
    text-align: center;
}